.avatar {
  /*border-radius: 8%;*/
  box-shadow: 15px 15px #E8E7E7;
  @media (min-width: 1180px) {
    margin-top: -20px;
  }
  @media (max-width: 1180px) {
    margin-top: 20px;
  }
  @media (max-width: 1100px) {
    margin-top: 30px;
  }
  @media (max-width: 990px) {
    margin-top: 40px;
  }
  @media (max-width: 990px) {
    margin-top: 20px;
  }
  @media (max-width: 767px) {
    margin-top: 0px;
  }
  @media (max-width: 767px) {
    margin-top: -20px;
    box-shadow: 5px 5px #E8E7E7;
  }
}
