.iconStyles {
  text-align: center;
  @media (min-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 767px) {
    margin-top: 10%;
    margin-left: 50px;
    margin-bottom: 17px;
  }
}


.avatar {
  box-shadow: 15px 15px #EFEFEF;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1430px) {
    margin-top: 12%;
  }
  @media (max-width: 1430px) {
    margin-top: 12%;
  }
  @media (max-width: 991px) {
    margin-left: -28%;
    margin-right: 0%;
  }
  @media (max-width: 900px) {
    margin-left: -15%;
  }
  @media (max-width: 830px) {
    margin-left: -5%;
  }
  @media (max-width: 767px) {
    margin-left: -10%;
    margin-right: -10%;
  }
  @media (max-width: 700px) {
    margin-left: -5%;
    margin-right: -5%;
  }
  @media (max-width: 650px) {
    margin-left: -4%;
    margin-right: -4%;
  }
  @media (max-width: 600px) {
    margin-left: 0%;
    margin-right: 0%;
  }
  @media (max-width: 575px) {
    box-shadow: 7px 7px #EFEFEF;
    margin-left: 4%;
    margin-right: 4%;
  }
  @media (max-width: 480px) {
    margin-top: 5%;
  }
  @media (max-width: 450px) {
    margin-left: 3%;
    margin-right: 3%;
  }
  @media (max-width: 400px) {
    margin-left: 2%;
    margin-right: 2%;
  }
}



























